 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     
   
 }
 
 body{
    font-family: 'Poppins', sans-serif;
    background:#F9F8F9;
 }

 .container{
     max-width: 1300px;
     margin: auto;
     padding-left: 25px;
     padding-right: 25px;
 }
 .navbar{
     display: flex;
     align-items: center;
     padding: 20px;
 }
 .logo{
     padding: 0;
 }

 .nav {
     flex: 1;
     text-align: right;
 }
 .nav li {
     list-style-type: none;
     display: inline-block;
     margin-right: 25px;
     
 }
 
 .nav a {
     text-decoration: none;
     color: #555;
 }

 .nav a:hover{
     color:palevioletred;
 }

 .nav img{
     flex: 1;
     align-items: right;
 }

.close-btn{
    display: none;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}




 p{
     color: #555;
 }

 .row{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
 }

 .col-2{
     flex-basis: 50%;
     min-width: 300px;

 }
.it{
    background
    : pink;
}
 .col-2 img{
     max-width: 100%;
     padding: 50px 0;
 }

 .col-2 h1{
     font-size: 50px;
     line-height: 60px;
     margin: 25px 0;
 }

 .btn-1{
     color:#ffff;
     background-color: palevioletred;
     border: none;
     padding: 8px 30px;
     font-size: 20px;
     letter-spacing: 1px;
     border-radius: 30px;
     cursor: pointer;
     margin: 25px 0;
     transition: background 0.5s;
 }
 
 .btn-1:hover{
     background-color: white;
     color: black;
 }

 .categories{
     margin: 70px 0;
 }

 .col-3{
     flex-basis: 30%;
     min-width: 250px;
     margin-bottom: 30px; 
 }

 .col-3 img{
     width: 100%;
 }

 .small-container{
    max-width: 1080px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
    color:palevioletred;
 }

 .col-4{
     flex-basis: 25%;
     min-width: 200px;
     padding: 10px;
     margin-bottom: 50px;
     transition: transform 0.5s;
 }

 .col-4 img{
     width: 100%;
 }


 .fas fa-star{
     color:palevioletred;
 }

 .title{
     text-align: center;
     margin: 0 auto 80px;
     position: relative;
     line-height: 60px;
     color: #555;
 }

 .title::after{
     content: '';
     background: palevioletred;
     width: 80px;
     height: 5px;
     border-radius: 5px;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);

 }

 h4 {
     font-weight: normal;
     color: #555;
 }

.col-4 p{
    font-size: 14px;
    
}

.col-4:hover
{
    transform:translateY(-5px);
}

.offer{
    padding: 30px 0;
    margin-top: 80px;
    
}


.col-2 .offer-img{
    padding: 50px;
    
}

small{
    color: #555;
    line-height: 0%;
}

.offer h1{
    line-height: 10px;
}

.testimony{
    padding-top: 20px;
}

.testimony .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.testimony .col-3 img{
    border-radius: 50%;
    margin-top: 20px;
    width: 25%;
}

.testimony .col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimony .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 14px;
}

.footer {
    background: black;
    color: palevioletred;
    font-size: 14px;
    padding: 60px 0 20px;
    
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
    text-align: center;

} 

.footer-col-1 {
    flex-basis:30%;
}
.footer-col-2{
    flex: 1;
}

.footer-col-2 img{
    width: 300px;
    margin-left: 30px;
}



.footer-col-3 ul li,.footer-col-4 ul li{
    list-style-type: none;
    color: #777;
    
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*media query*/
@media only screen and (max-width: 800px){

    .nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        display: none;
    }

    .nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }

    .nav ul li a{
        color: white;
    }
    .nav a:hover{
        background:palevioletred;

    }

    .menu-icon{
        width: 100px;
        margin-left: 20px;
        display: block;
    }

    .col-2 img{
        display: none;
    }
}

